<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @!section( 'title' )

    {{ style( 'css/style' ) }}
    {{ style( 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min' ) }}
    @!section('extra_style')
</head>
<body>
    
    @include( 'website/partials/header' )

    @!section( 'content' )

    @include( 'website/partials/preloader' )

    @include( 'website/partials/footer' )

    <!-- ********************** LIBRARIES ******************************* -->
    {{ script( 'https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js' ) }}
    {{ script('scripts/lib/gsap-public/minified/gsap.min.js') }}
    {{ script( 'https://code.jquery.com/jquery-3.5.1.min.js' ) }}
    <!-- **************************************************************** -->
    {{ script( 'scripts/animations.js' ) }}
    {{ script( 'scripts/interaction.js' ) }}
    {{ script( 'scripts/script.js' ) }}

    @!section( 'vue' )
    
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
            }
            return "";
        }

        const pincode       =   document.querySelector("#pincode-input");
        const pincodeBtn    =   document.querySelector("#pincode-btn");
        const opPincode     =   document.querySelector("#op-pincode");

        pincodeBtn.addEventListener('click' , function(){
            if(pincode.value.length === 6){
                pincodeBtn.disabled     =   true;
                pincodeBtn.innerHTML    =   'WAIT..';
                $.ajax({
                    url     : '/search-pin',
                    headers : { 'X-XSRF-TOKEN' : getCookie('XSRF-TOKEN') },
                    data    : { pin : pincode.value },
                    type    :  "POST",

                }).then(function(response){
                    opPincode.innerHTML     =  response.msg; 
                    pincodeBtn.disabled     =   false;
                    pincodeBtn.innerHTML    =   'Apply';
                    
                }).catch(function(error){
                    console.log(error);
                    pincodeBtn.disabled     =   false;
                    pincodeBtn.innerHTML    =   'Apply';
                })
            }else{
                opPincode.innerHTML     =   'Enter a valid Pin'
            }
        });

        function renderSingleItem(item){
            return '<div class="single-item">' +
                            '<img src="' + item.image + '" alt="">' +
                            '<div class="info">' +
                                '<h4>' + item.name + '</h4>' +
                                '<p class="price">MRP : <i class="fa fa-inr" aria-hidden="true"></i> ' + item.price + '</p>' +
                                '<p class="quantity">&times; ' + item.quantity + '</p>' +
                            '</div>' +
                    '</div>' ;
        }

        function renderPopupCart(){
            const cart      =   localStorage.getItem("cart");
            if(cart){
                const cartObj   =   JSON.parse(cart);
                let itemListHTMl    =   '';
                let total           =   0;
                cartObj.forEach(item => {
                    itemListHTMl += renderSingleItem(item);
                    total   +=  parseInt(item.quantity) * parseInt(item.price);
                })
                document.querySelector('.cart-popup .cart-content .cart-link .total span').innerHTML     = total;
                document.querySelector('.cart-popup .cart-content .item-list').innerHTML            = itemListHTMl;
            }
        }
        renderPopupCart();
    </script>
    @!section('extra_script')
</body>
</html>