<!-- *********************** PRE LOADER ******************************** -->
<div class="pre-loader">
    <img src="/assets/images/pre-loader.gif" alt="">
</div>

<!-- ******************************************************************* -->